body {
    /*font-family: 'Angsana New';*/
    font-family:Ekkamai;
}

@font-face {
    font-family: Ekkamai;
    src: url('../font/EkkamaiStandard-Light.ttf');
}

.navbar-brand{
    font-size:24px;
}

.nav-link {
    font-size:18px;
}

.img_showCase{
    width:20%;
    height:20%;
    margin:0px 5px 5px 5px;
}